body {
  background-color: #0B0422;
}

a[href="https://alvarotrigo.com/fullPage/"] {
  display: none !important;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

$primary-font:var(--staatliches);
$secondary-font:var(--firasans);